
.about-banner {
    background-image: url("../img/bg/ABOUT-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.mission-statement {
    text-align: center;
    background: $nav-text;
    padding: 150px 00px;

    h2 {
        color: $white;
        font-size: 35px;
        margin-bottom:-30px;
    }

    h3 {
        font-size: 42px;
        line-height:41px;
        color:$brandblack;
        max-width: 600px;
        margin:0 auto;
    }
    h4{
        font-family: SimplonMono-Bold;
        text-transform: uppercase;
        color:$brandblack;
        font-size: 8.5pt;
        letter-spacing: 1.5px;
        padding-bottom: 10px;
        }

}

.about-values {
    padding: 150px 0px 150px 20px;
    background-image: url("../img/bg/services-carousel-bg-dark-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $cream;

    p {
        color: $brandblack;
    }

    h3{
        text-align: center;
        margin: 0 auto;

        margin-bottom: 30px;
    }

    .cards {
        align-items: stretch;
        color: $cream;

        .card {
            
            padding: 70px 40px 60px;
            max-width: 350px;
            min-width: 350px;
            border-radius: 0;
            color: $cream;


            h2 {
                font-size: 18px;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                letter-spacing: 3px;
            }

            h3 {
                font-size: 34px;
                margin: 0 0 25px;
                padding: 0;
                letter-spacing: 0;
            }
            .text-1{
                font-size: 24px;
                margin: 0 0 10px;
                padding: 0;
                letter-spacing: 0;
                text-transform: uppercase;
                margin: 0 auto;
            }

            .text-2 {
                font-size: 20px;
                margin: 0px 0 5px;
                margin: 0 auto;
            }

            p{
                margin: 0;
                font-size: 14px;
            }

        }
    }  
}

.collaboration {
    padding: 100px 30px;
    background: $dark-brown;

    h2 {
        font-size: 20px;
        margin-bottom: 50px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p {
        max-width: 500px;
        margin: 0 auto 60px;
        color: $cream;
        font-size: 20px;
    }

    .collab-cols {
        display: flex;
        align-items: center;
        max-width: 700px;
        margin: 0 auto;
        justify-content: space-between;

        .collab-col {
            text-align: center;

            .icon {
                color: $primary-yellow;
                font-size: 50px;
            }

            p {
                color: $white;
                font-family: "sofia-pro", sans-serif;
                letter-spacing: 2px;
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
}

.founder {

    .founder-content {
        background: $liteblue;
        order: 1;
        margin: 0 0 0 20px;
        color: $cream;

        .content {
           
            text-align: left;

            h3 {
                font-family: SimplonMono-Bold;
                text-transform: uppercase;
                font-size: 8.5pt;
                letter-spacing: 1.5px;
                padding-bottom: 10px;
            }

            h2 {
                font-family: "Trade-Gothic-Bold20";
                font-size: 33pt;
                line-height: 41pt;
                letter-spacing: 4px;
                text-transform: uppercase;
                max-width: 500px;
            }

            
            p{
                font-size: 11.5pt;
                line-height: 18pt;
                letter-spacing: 1.2px;
                font-family: SimplonNorm-Lite;
                margin-bottom:20px;
            }
            
            .bullet-pts{
                font-family: SimplonMono-Lite;
                font-size: 7.2pt;
                text-transform: uppercase;
                letter-spacing: 2.1px;
            }
        }
    }
}

.about-nav {
    padding: 150px 0 150px;
    background: transparent;

    .two-col {
        justify-content: center;

        .two-col-box {
            padding: 20px;
        }
        h3 {
            color: $white;
        }

        h4 {
            color: $primary-yellow;
        }
    }

    // .core-values {
    //     padding: 150px 10px 0;
    // }
}

@media screen and (max-width: 850px) {
    .collaboration {
        .collab-cols {
            flex-wrap: wrap;

            .collab-col {
                width: 50%;
                margin: 10px 0;
            }
        }
    }

    .founder {
        
        .founder-content {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 400px){

    .founder {
        .image-col {
            max-width: 300px;
        }
    }
}