.connect-banner {
    h1 {
        span {
            letter-spacing: 1px;
        }
    }
}

.connect-col {
    background: $dark-brown;
    border-top: 1px solid $primary-yellow;
    border-bottom: 1px solid $primary-yellow;

    .title-col {
        h3 {
            color: $white;
            margin-right: 20px;
            font-size: 40px;
        }

        h2 {
            color: $primary-yellow;
        }
    }

    .text-col {
        p, a {
            margin: 0;
            color: #fff;
        }

        .business, .connect-email {
            color: $darker-pink;
        }

        .business {
            margin-bottom: 5px;
        }

        .connect-email {
            margin-top: 40px;
        }
    }
}

.stay-connected {
    text-align: center;
    background: $nav-text;
    padding: 80px 0px 40px 0px;

    h2 {
        color: $white;
        font-size: 35px;
        margin-bottom:-30px;
    }

    h3 {
        font-size: 42px;
        line-height:41px;
        color:$brandblack;
        max-width: 600px;
        margin:0 auto;
    }
    h4{
        font-family: SimplonMono-Bold;
        text-transform: uppercase;
        color:$brandblack;
        font-size: 8.5pt;
        letter-spacing: 1.5px;
        padding-bottom: 10px;
        }

}

.connect-form {
    padding: 50px 20px;
    margin: 0 auto;

    .bc{
        color: $cream;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top:20px;
    }

    h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 50pt;
        line-height: 45pt;
        letter-spacing: 5px;
        color:$cream;
        text-transform: uppercase;
        text-align: center;
        }

        h3{
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            color:$brandgreen;
            font-size: 23pt;
            line-height: 23pt;
            padding: 0px 20px;
            margin:30px;
            text-align: center;
            }

    form {
        max-width: 800px;
        margin: 0 auto 80px;

       

        div {
            display: flex;

            input {
                flex: 1;
                margin: 20px 0;

                &:first-of-type {
                    margin-right: 40px;
                }

               
            }
        }

        input, select, textarea{

            background: $cream;
            color: $brandblack;
            padding: 15px 15px 15px 25px;
            border: none;
            font-family: SimplonMono-Reg;
            font-size: 14px;

            &::placeholder {
                color: $brandblack;
            }
        }

        > input, > select {
            width: 100%;
            margin: 20px 0;
        }

        textarea {
            width: 100%;
            margin: 20px 0;
        }


        button {
            width: 100%;
            max-width: 400px;
            margin: 10px auto 0;
            display: block;
            border: none;
            background-color:$cream;
            padding: 15px 10px;
            color: $brandblack;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
        }
        button:hover{
            background-color:$brandgreen;
            color: $cream; 
        }
    }
}

@media screen and (max-width: 600px){
    .connect-form{
        form {
            div {
                flex-direction: column;

                input {
                    width: 100%;
                    margin: 20px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .connect-banner {
        h1 {
            font-size: 36px !important;
        }
    }
}