//colors
$nav-text: #B5AC95;
$text-light-brown: #8E807D;
$brown: #353434;
$primary-yellow: #ECE850;
$darker-pink: #A58984;
$white: #fff;
$dark-brown: #292728;
$light-brown: #47403F;
$light-tan: #EDE5E2;
$dark-pink: #D3B7B0;

a:visited {
    color: unset;
}

.sofia-light {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sofia-sb {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-style: normal;  
}

.sofia-sb-i {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.sofia {
    font-family: "sofia-pro", sans-serif;
}

.plantin {
    font-family: "plantin", sans-serif;
}

.plantin-i {
    font-family: "plantin", sans-serif;
    font-style: italic;
}