//colors
$nav-text: #B5AC95;
$lighter-brown: #8E807D;
$brown: #353434;
$primary-yellow: #ECE850;
$darker-pink: #A58984;
$white: #fff;
$dark-brown: #292728;
$light-brown: #47403F;
$light-tan: #EDE5E2;
$dark-pink: #D3B7B0;

//default styles
a:visited {
    color: unset;
}

p, h2, h3, h4, a {
    letter-spacing: 1px;
}


//fonts
.sofia-light {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sofia-sb {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-style: normal;  
}

.sofia-sb-i {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.sofia {
    font-family: "sofia-pro", sans-serif;
}

.plantin {
    font-family: "plantin", sans-serif;
}

.plantin-i {
    font-family: "plantin", sans-serif;
    font-style: italic;
}

//reusable classes
.two-col {
    display: flex;

    .two-col-box {
        padding: 125px 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .box {
            display: flex;
            align-items: center;

            h3 {
                margin-right: 20px;
                font-size: 50px;
            }

            h4 {
                font-size: 40px;
            }
        }

        .btn-wide {
            display: block;
            background-color: $light-brown;
            padding: 15px 0;
            color: $white;
            width: 370px;
            text-align: center;
            text-decoration: none;
            margin-top: 30px;
            text-transform: uppercase;
            font-size: 13px;
        }
    }
}

footer {
    padding: 70px 90px;
    border-bottom: 15px solid $light-brown;
    background: $dark-pink;
    display: flex;
    align-items: center;
    position: relative;

    .footer-social {
        display: flex;
        margin-right: 50px;

        div {
            margin-right: 20px;
            border: 1px solid $primary-yellow;
            width: 60px;
            height: 60px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .footer-links {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            a{
                color: $lighter-brown;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    .footer-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            max-width: 350px;
        }
    }
}

@media screen and (max-width: 1270px){
    footer {
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 50px;

        .footer-social {
            margin: 0 0 30px;
        }

        .footer-links {
            display: flex;
            margin-bottom: 35px;

            li {
                padding: 0 15px;
                border-right: 1px solid $lighter-brown;

                &:last-of-type {
                    border-right: none;
                }
            }
        }

        .footer-logo {
            position: relative;
            top: unset;
            left: unset;
            transform: translate(0);
        }
    }
}


@media screen and (max-width: 850px){

    .two-col {
        flex-direction: column;

        .two-col-box {
            width: 100%;
            padding: 125px 20px;
        }
    }
}

@media screen and (max-width: 450px){
    .two-col {
        .two-col-box {
            padding: 75px 20px;

            .btn-wide {
                width: 90%;
            }
        }
    }
}
