
//colors
$lighter-brown: #8E807D;
$brown: #353434;
$darker-pink: #A58984;
$light-brown: #47403F;
$light-tan: #EDE5E2;
$dark-pink: #D3B7B0;
//new colors

$dark-blush:#A58984;
$ash:#58595B;
$footer-brown: #2D2B2B;
$dark-yellow:#857E35;
$lt-purple:#99908F;
$off-white:#EAEAEA;

// NEW NEW colors
$taupe:#DBD5C8;
$cream:#FBF9F2;
$nav-text: #BCB4A2;
$white: #fff;
$black: black;
$brandblack:#1E1D1E;
$grey:#323332;
$offgrey:#808080;
$greygreen:rgb(53, 53, 47);
$brandgreen:#857E35;
$primary-yellow: #ECE850;
$brandred:#FF0000;
$dark-brown: #272927;
$liteblue:#6a7B84;
$oat:#d6d0c4;
$darkblack:#23221F;
$brandbrown: #232120;
$neutral-1:#595650;




body {  
    background-color:$brandblack;
//     background-image: url("../img/bg/background-1920px.jpg");
//     background-size: cover;
//     background-attachment: fixed;
//     width: 100vw;
//     overflow-x: hidden;
}

//default styles
a:visited {
    color: unset;
}

a:hover {
    text-decoration: none;
}

p, h2, h3, h4, a {
    letter-spacing: 1px;
}



.center-container{
    margin: 0 auto;
}

.m-b-250{
    margin-bottom:250px;
}

//fonts

.freight-i{
    font-family: freight-text-pro, serif;
    font-weight: 400;
    font-style: italic;
}

.freight-i-lite{
    font-family: freight-text-pro, serif;
    font-style: italic;
    font-weight: 300;
}


.bebas-neue {
    font-family: 'Bebas Neue', cursive;
}

.sofia-light {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sofia {
    font-family: "sofia-pro", sans-serif;
}

.sofia-semi-bold{
    font-family: sofia-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
}



// two column text - lite bg
.col-title-lite{
    text-align: center;

    h3{
    font-family: freight-text-pro, serif;
    font-style: italic;
    font-weight: 300;
    color:$brandgreen;
    font-size: 23pt;
    line-height: 23pt;
    padding: 0px 20px;
    margin:30px;
    }

    h2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 50pt;
        line-height: 45pt;
        letter-spacing: 5px;
        color:$brandblack;
        text-transform: uppercase;
        }

    .hr-text {
        border: 1.5px solid $brandgreen;
        max-width: 360px;
        margin: 0 auto;
        margin-top: 30px;
      }
}

.col-title-lite-2{
    text-align: center;

    h3{
        font-family: SimplonMono-Bold;
            text-transform: uppercase;
            color:$brandblack;
            font-size: 8.5pt;
            letter-spacing: 1.5px;
            padding-bottom: 10px;
        }

    h2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 34pt;
        line-height: 44pt;
        letter-spacing: 4px;
        color:$brandblack;
        text-transform: uppercase;
        max-width: 500px;
        }

    .hr-text {
        border: 1.5px solid $brandgreen;
        max-width: 360px;
        margin: 0 auto;
        margin-top: 45px;
      }
}

// two column text - dark bg
.col-title-dark{
    text-align: center;

    h3{
    font-family: "Trade-Gothic-Bold20";
    color:$brandgreen;
    font-size: 18pt;
    letter-spacing: 2px;
    line-height: 23pt;
    padding-bottom:10px;
    }

    h2{
    font-family: freight-text-pro, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 36pt;
    line-height: 43pt;
    letter-spacing: 1px;
    color:$off-white;
    }

    .hr-text {
        border: 1.5px solid $brandgreen;
        max-width: 360px;
        margin: 0 auto;
        margin-top: 45px;
      }
}


.col-title-dark-2{
    text-align: center;

    h3{
        font-family: freight-text-pro, serif;
        font-style: italic;
        font-weight: 300;
        color:$brandblack;
        font-size: 15pt;
        line-height: 23pt;
        letter-spacing: .5px;
        margin:30px 0px 20px 0px;
        padding-bottom:30px;
        }

    h2 {
        font-family: "Trade-Gothic-Bold20";
        font-size: 50pt;
        line-height: 45pt;
        letter-spacing: 5px;
        color:$off-white;
        text-transform: uppercase;
        }

    .hr-text {
        border: 1.5px solid $brandgreen;
        max-width: 360px;
        margin: 0 auto;
        margin-top: 30px;
      }

      
    .sub-title{
        font-family: SimplonNorm-Bold;
        text-transform: uppercase;
        font-size: 13pt;
        letter-spacing: 2px;
        margin-bottom: 30px;
        
    }
    
}

.brand-symbol-bg{
    background-color: #897E6e;
    background-image: url("../img/bg/symbol-bg-image.jpg");;
    background-size: cover;
    background-repeat: no-repeat;
    color:$cream;
    padding: 75px 0px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center; 
    }
    

    
.news-bg{
    background-color: #897E6e;
    background-image: url("../img/bg/home-banner-collage-8.jpg");;
    background-size: cover;
    background-repeat: no-repeat;
    color:$cream;
    padding: 75px 0px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center; 
    }

.title-headers {
    color:$dark-brown;
    text-align: center;

    .title-sub-headers{
        font-size: 8pt;
        margin-bottom: 20px; 
        letter-spacing: 1.75px;
    }
    .header-1 {
        font-family: freight-text-pro, serif;
        font-style: italic;
        font-weight: 300;
        font-size: 45pt;
        line-height: 47pt;
        letter-spacing: 1px;
        color:$off-white;; 
    }

    .header-2 {
        font-family: "Trade-Gothic-Bold20";
        color:$brandgreen;
        font-size: 23pt;
        letter-spacing: 2px;
        line-height: 23pt;
        padding: 0px 20px;
        margin:30px;
    }


    .title-body{
        font-size: 1.5rem;
        padding-bottom: 60px;
        max-width: 650px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.sub-titles{
    text-transform: uppercase;
    font-family: "Trade-Gothic-Bold20";
    text-align: center;
    font-size: 27pt;
    letter-spacing:3px;
    line-height: 36pt;
    color:$cream;
    padding-bottom: 10px;
}

.sub-titles-sm{
    font-family: SimplonNorm-Reg;
    text-transform: uppercase;
    text-align: center;
    font-size: 9pt;
    letter-spacing:2.25px;
    color:$cream;
    max-width: 600px;
    margin: 0 auto;
    padding-top:10px;
}

.sub-title-text{
    font-size: 15pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: SimplonMono-Reg;
    text-align: center;
}

// body copy
.bc{
    font-size: 11.5pt;
    line-height: 18pt;
    letter-spacing: 1.2px;
    font-family: SimplonNorm-Lite;
    margin-bottom:20px;
}

.bc-sm{
    font-size: 9.5pt;
    line-height: 15pt;
    letter-spacing: 1.2px;
    font-family: SimplonNorm-Lite;
    margin-bottom:20px;
}

.bc-dark{
    font-size: 11.5pt;
    line-height: 18pt;
    letter-spacing: 1.2px;
    font-family: SimplonNorm-Lite;
    margin-bottom:20px;
    color:$cream;
}


//let's work together header

.contact-headers {
    color: $dark-pink;
    text-align: center;


    .contact-header-1 {
        font-size: 5rem;
    }

    .contact-header-2 {
        text-transform: uppercase;
        font-style: normal;
        font-size: 4rem;
        letter-spacing: 4.5px;
        margin-left: 5px;
    }

    .title-body{
        font-size: 1.5rem;
        padding-bottom: 60px;
        max-width: 650px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}


//button
.main-btn { 
    display: block;
    margin:0 auto;
    padding: 15px 0;
    color: $white;
    text-align: center;
    text-decoration: none;
    border: 1px solid $dark-yellow;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    .main-btn-text{
        color:$dark-yellow;
    }
}

.main-btn:hover {
    background-color:$dark-brown;
    color: $off-white;
}


.wide-btn {

    width:80%;
    display: block;
    margin:0 auto;
    padding: 15px 0;
    background-color: $cream !important;
    color: $brandblack;
    text-align: center;
    text-decoration: none;
    border: 1px solid $dark-yellow;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.5px;

    // .main-btn-text{
    //     color:$dark-yellow;
    // }
}

.wide-btn:hover {
    background-color: $dark-brown !important;
    color: $off-white;
}

  
// left align dark btn
.main-btn-left-dark  {
    font-family: SimplonMono-Bold;
    font-size: 12px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    background-color: transparent;
    color: $off-white;
    display: block;
    padding: 15px 0;
    width: 250px;
    text-align: center;
    text-decoration: none;
    border: 1px solid $dark-yellow;
    margin-top: 40px;
}

.main-btn-left-dark:hover {
    background-color:$dark-yellow;
    color: $dark-brown;
  }

  // left align dark btn
.main-btn-left-lite  {
    font-family: SimplonMono-Bold;
    font-size: 12px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    background-color:$brandgreen;
    display: block;
    padding: 15px 0;
    width: 250px;
    text-align: center;
    text-decoration: none;

}

.main-btn-left-lite:hover {
    background-color: transparent;
    color: $cream;
    border: 1px solid $dark-yellow;
  }



.to-price-btn  {
    font-family: SimplonMono-Bold;
    font-size: 12px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    background-color: $cream;
    color:$brandgreen;
    display: block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid $dark-yellow;
}

.to-price-btn:hover  {
    
    background-color: $brandgreen;
    color:$cream;

}


//reusable classes

.one-col {
    display: flex;

    .one-col-box {
        padding: 100px 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .btn-wide {
            display: block;
            background-color: $light-brown;
            padding: 15px 0;
            color: $white;
            width: 370px;
            text-align: center;
            text-decoration: none;
            margin-top: 30px;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2.5px;
        }
    }
}

.two-col {
    display: flex;

    .two-col-box {
        padding: 100px 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .box {
            align-items: center;

            h3 {
                margin-right: 20px;
                font-size: 50px;
            }

            h4{
                font-family: SimplonMono-Bold;
                text-transform: uppercase;
                color:$cream;
                font-size: 8.5pt;
                line-height: 20px;
                letter-spacing: 1.5px;
                padding-bottom: 10px;
                margin:0 auto;
                text-align: center;
            }
        }

        .btn-wide {
            display: block;
            background-color: $light-brown;
            padding: 15px 0;
            color: $white;
            width: 370px;
            text-align: center;
            text-decoration: none;
            margin-top: 30px;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2.5px;
        }
    }
}

.two-col-text-home {
    background: $cream;

    .two-col-box:first-child {
       
        text-align: center;

        .text{
           
            h1{
                font-family: "Trade-Gothic-Bold20";
                color:$brandblack;
                text-transform: uppercase;
                font-size: 34pt;
                line-height: 38pt;
                letter-spacing: 1.5px;
                margin-bottom: 18px;
            }
            .sub-title-1{
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing:2px;
                padding-bottom: 8px;
                padding-top:20px;
            }
            .sub-title-2{
                font-size: 22px;
                padding-bottom: 16px;
            }
            .sub-title-3{
                text-transform: uppercase;
                font-size:9pt;
                line-height: 17pt;
                letter-spacing: 2px;
                margin: 10px 0px;
                color: $brandblack;
                font-family: SimplonMono-Reg;
             }
            
        }
    }


    .two-col-box:last-child {

        background-image: url("../img/home-about-me-pic-sq.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;  
        color:$brandblack;
        height:550px;


    }
}

.two-col-home {
    display: flex;

    .two-col-box {
        padding: 275px 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .box {
            align-items: center;

            h3 {
                margin-right: 20px;
                font-size: 50px;
            }

            h4{
                font-family: SimplonMono-Bold;
                text-transform: uppercase;
                color:$cream;
                font-size: 8.5pt;
                line-height: 20px;
                letter-spacing: 1.5px;
                padding-bottom: 10px;
                margin:0 auto;
                text-align: center;
            }
        }

    }
}

.two-col-text {
    background: $cream;

    .two-col-box:first-child {
       
        text-align: center;

        h2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 33pt;
        line-height: 41pt;
        letter-spacing: 4px;
        color:$brandblack;
        text-transform: uppercase;
        max-width: 500px;
        }
        
        h3{
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            color:$brandblack;
            font-size: 15pt;
            line-height: 23pt;
            letter-spacing: .5px;
            margin:30px 0px 20px 0px;
            }

        h4{
            font-family: SimplonMono-Bold;
            text-transform: uppercase;
            color:$brandblack;
            font-size: 8.5pt;
            letter-spacing: 1.5px;
            padding-bottom: 10px;
        }

 
    }

    .spacer-div{
        margin-top:40px;
    }

    .two-col-box:last-child {

        color:$brandblack;

        .sub-title{
            font-family: SimplonNorm-Bold;
            text-transform: uppercase;
            font-size: 13pt;
            letter-spacing: 2px;
            margin-bottom: 10px;
            
        }

        p{
            font-size: 11.5pt;
            line-height: 18pt;
            letter-spacing: 1.2px;
            font-family: SimplonNorm-Lite;
            margin-bottom:20px;
        }

        .bullet-pts{
            font-family: SimplonMono-Lite;
            font-size: 7.2pt;
            text-transform: uppercase;
            letter-spacing: 2.1px;
        }

        .hr-line {
            border: .75px solid $brandgreen;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 10px;
           }

    }
}




.four-col{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .four-col-box {
        background-color: $cream;
        border: .25px solid $dark-brown;
        width: 25%;
        display: flex;

        align-items: flex-start;

        .four-box {
            display: flex;
            align-items: center;
            flex-direction: column;

        }
    }
}



.five-col{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .five-col-box {
        background-color: $cream;
        border: 2px solid $dark-brown;
        width: 20%;
        display: flex;

        align-items: flex-start;

        .five-box {
            display: flex;
            align-items: center;
            flex-direction: column;

        }
    }
}


.nav-footer-banner{
    background-color: $greygreen;
    padding: 420px 30px 100px 30px;
    margin: 0 auto;
    // margin-top:-510px;
    text-align: center;
}


.text-image-col {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    overflow-y: auto;

    .text-col {
        width: 75%;
        padding: 0 15px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        min-width: 400px;

        .content {
            max-width: 650px;
            margin: 0 auto;

            h4 {
                margin: 30px 0;

            }

            h3 {
                margin: 5px 0;
            }

            h2 {
                margin: 5px 0;

            }

            p {
                margin-top: 25px;

            }
        }
    }
    .image-col {
        flex: 1;
        img {
            width: 100%;
            min-width: 330px;
            // min-height:600px;
            margin-left: 20px;
        }
    }

    &::-webkit-scrollbar {
        // display: none;
    }

}

.two-text-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    //left col
    .title-col {
        display: flex;
        align-items: center;
        margin: 80px 80px;
        max-width: 700px;
    }
    //right col
    .text-col {
        max-width: 30%;

        p {
            font-size: 14px;
            text-align: left;
        }
    }
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {

        margin: 0 20px;
        padding: 120px 70px;
        border-style: solid;
        border-color: $off-white;
        border-width: 1.5px;
        border-radius:0px;


        &#process-nav-bg{
            background-image: url("../img/3-nav-imgs/carousel-test-img.jpg");
            background-size: cover;
            background-position: center;
        }

        &#about-nav-bg{
            background-image: url("../img/3-nav-imgs/carousel-test-img.jpg");
            background-size: cover;
            background-position: center;
        }

        
        &#faq-nav-bg{
            background-image:url("../img/3-nav-imgs/carousel-test-img.jpg");
            background-size: cover;
            background-position: center;
        }

        &#pricing-nav-bg{
            background-image:url("../img/3-nav-imgs/carousel-test-img.jpg");
            background-size: cover;
            background-position: center;
        }

        &#branding-nav-bg{
            background-image:url("../img/3-nav-imgs/carousel-test-img.jpg");
            background-size: cover;
            background-position: center;
        }

        &#about-nav-bg{
            background-image:url("../img/3-nav-imgs/nav-about-img-2.jpg");
            background-size: cover;
            background-position: center;
        }

        &#social-nav-bg{
            background-image:url("../img/3-nav-imgs/carousel-test-img.jpg");
            background-size: cover;
            background-position: center;
        }


        h4 {
            text-align: center;
            font-size: 22px;
            font-weight: 300;
        }

        h3 {
            text-align: center;
            font-size: 28px;
        }

        p {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 0;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.download-form {
    
    h2,h3,p {
        text-align: center;
    }

    form {
        display: flex;
        max-width: 1100px;
        padding: 0 20px;
        margin: 50px auto 0;

        #full-name {
            width: 30%;
            margin-right: 15px;
        }

        #email {
            width: 60%;
            margin-right: 15px;
        }

        #download {
            width: 30%;
        }

        input[type="text"]{
            padding: 20px 25px;
        }

        input {
            border: none;
            font-family: SimplonMono-Reg;
            letter-spacing: 2px;
        }


    }

}

.core-values {
    // background-color: $brandgreen;

    margin-top:-100px;
    // padding: 250px 0 150px;

    
    .service-nav-cards {
        align-items: stretch;
        padding-left:20px;
        overflow-x: scroll;

        .card {
            // width:375px;
            // height:300px;
            text-align: center;
            color: $dark-brown;
            max-width: 300px;
            min-width: 300px;
            padding: 170px 15px;           
        }

        .text{
            color: $brandblack;
            text-transform: uppercase;
            text-align: center;

            h2 {
                font-family: "Trade-Gothic-Bold20";
                letter-spacing: 1.5px;
                font-size: 16pt;
                line-height:16pt;
                text-align: center;
                padding:10px 0px 30px 0px;
            }
            .sub-text {
                font-size: 12px;
                letter-spacing: 1px;
                margin-bottom: 15px;
                margin-top:30px;
                // color: $cream;

            }
        }
    }
}

.core-values-2 {

    margin-top:-100px;
    margin-bottom:50px;
    
    .service-nav-cards {
        align-items: stretch;
        padding-top:70px;

        .card {
            text-align: center;
            color: $dark-brown;
            max-width: 300px;
            min-width: 300px;
            padding: 170px 15px;           
        }

        .text{
            color: $brandblack;
            text-transform: uppercase;
            text-align: center;

            h2 {
                font-family: "Trade-Gothic-Bold20";
                color: $cream;
                font-size: 16pt;
                line-height:16pt;
                letter-spacing: 3px;
                text-align: center;

            }
            .sub-text {
                font-size: 14px;
                margin-bottom: 15px;
                margin-top:30px;
                color: $cream;

            }
        }
    }
}



.arrow-down{
    width:8px;
    margin:0 auto;
    padding-top:40px;
    padding-bottom:20px;
}

.arrow-down-white{
    width:5px;
    margin:0 auto;
    padding-bottom:40px;
}

.arrow-down-nav{
    width:5px;
    margin:0 auto;
}

.arrow-right{
    width:15px;
    display:inline-block;
}

.pricing-guide {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;

    .title-headers {
        color: $cream;
    }

    h3{
        font-family: "Trade-Gothic-Bold20";
        color:$brandgreen;
        font-size: 23pt;
        letter-spacing: 2px;
        line-height: 23pt;
        padding: 0px 20px;
        margin:30px;
        }

        h2{
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            font-size: 45pt;
            line-height: 47pt;
            letter-spacing: 1px;
            color:$off-white;
            }

    p {
        color: $cream;
        margin-top: 30px;
    }

    input[type="text"]{
        background: $cream;
        color: $light-brown;

        &::placeholder {
            color: $light-brown
        }
    }

    input[type="submit"]{
        background: $primary-yellow;
        color: #000;
        padding: 20px 50px;
        font-family: SimplonMono-Bold;
    }
}

.nav-banner {
    // padding-bottom: 180px;
    position: relative;
    
    nav {
        background-color: rgba(0, 0, 0, 0.95);
        position: absolute;
        padding-top: 25px;
        padding-bottom: 30px;
        top: 0;
        left: 0;
        width: 100%;
        // padding-top:20px;
        z-index: 100;

        &.show-nav {
            position: fixed;
            height: 0;
            opacity: 0;
            z-index: 10000;

            .navbar-toggler {
                margin-top: 0;
            }

            .nav-brand {
                // top: 5px;

                img {
                    max-width: 50px;
                    margin-top: 15px;
                }
            }
        }
    }

    .menu-nav {
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-top: 10Px;

        .nav-item {
            border-right: 0px solid #000;
            padding: 0 20px;

            a {
                color: $white;
                text-transform: uppercase;
                padding: 1px 5px;
                letter-spacing: 2.3px;
                font-size: 13px;
            }

            &:nth-child(5) {
                border-left: 0px solid #000;
            }

            &:nth-child(4) {
                border: none;
                // padding: 0 40px;
            }

            &:last-child {
                border: none;
            }
        }

        .nav-link img {
            max-width: 75px;
        }
    }

    // .banner {
    //     margin: 0 auto;
    //     padding: 600px 15px 15px;
    //     max-width: 980px;
    //     h2 {
    //         color: $lighter-brown;
    //         margin-bottom: 10px;
    //         font-size: 30px;
    //         text-align: center;
    //     }

    //     h1 {
    //         color: $dark-brown;
    //         font-size: 50px;
    //         text-align: center;
    //     }
    //     .back-quote{
    //         z-index: 1;
    //         position: absolute;
    //         top: 0px;
    //         left:0px;
    //         color:$light-brown;
    //         font-size:200px;
    //         text-align: left;
    //         letter-spacing: 20px;
    //         margin: 0px;
    //     }
    // }
    .navbar-toggler {

        z-index: 100;
    }

    i {
        color: $cream;
        font-size: 25px;
    }

    .nav-brand {
        position: absolute;
        // top: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        img {
            max-width: 80px;
        }
    }

    .opening {
        display: flex;
        max-width: 1000px;
        padding: 300px 15px 15px;
        margin: 0 auto;

        .opening-title {
            width: 95%;
            margin: 0 auto;

            h1 {
                color: transparent;
                text-align: center;
                font-size: 10rem;
                letter-spacing: 5px;   
                -webkit-text-stroke: .6px $primary-yellow;
            }



            p {
                font-size: 12pt;
                padding-right: 50px;
                padding-top: 20px;
                letter-spacing: 1px;
                text-align: center;
            }
        }

        .opening-text {
            width: 50%;
            padding-left: 20px;
            border-left: 1px solid $primary-yellow;
            max-width: 350px;
        }

        p {
            color: $light-tan;
            font-size: 14px;
            margin-bottom: 0;
        }
        
    }
}

.home-nav-banner {
    
    nav {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        padding-top: 25px;
        padding-bottom: 30px;
        top: 0;
        left: 0;
        width: 100%;
        // padding-top:20px;
        z-index: 100;

        &.show-nav {
            position: fixed;
            height: 0;
            opacity: 0;
            z-index: 10000;

            .navbar-toggler {
                margin-top: 0;
            }

            .nav-brand {
                top: 5px;

                img {
                    max-width: 80px;
                    margin-top: 15px;
                }
            }
        }
    }

    .menu-nav {
        justify-content: center;
        width: 100%;
        align-items: center;
        padding-top: 10Px;

        .nav-item {
            border-right: 0px solid #000;
            padding: 0 20px;

            a {
                color: $white;
                text-transform: uppercase;
                padding: 1px 5px;
                letter-spacing: 2.3px;
                font-size: 13px;
            }

            &:nth-child(5) {
                border-left: 0px solid #000;
            }

            &:nth-child(4) {
                border: none;
                // padding: 0 40px;
            }

            &:last-child {
                border: none;
            }
        }

        .nav-link img {
            max-width: 75px;
        }
    }

    .banner {
        margin: 0 auto;
        padding: 600px 15px 15px;
        max-width: 980px;
        h2 {
            color: $lighter-brown;
            margin-bottom: 10px;
            font-size: 30px;
            text-align: center;
        }

        h1 {
            color: $dark-brown;
            font-size: 50px;
            text-align: center;
        }
        .back-quote{
            z-index: 1;
            position: absolute;
            top: 0px;
            left:0px;
            color:$light-brown;
            font-size:200px;
            text-align: left;
            letter-spacing: 20px;
            margin: 0px;
        }
    }
    .navbar-toggler {

        z-index: 100;
    }

    i {
        color: $cream;
        font-size: 25px;
    }

    .nav-brand {
        position: absolute;
        // top: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        img {
            max-width: 80px;
        }
    }

    .opening {
        display: flex;
        max-width: 1000px;
        padding: 300px 15px 15px;
        margin: 0 auto;

        .opening-title {
            width: 95%;
            margin: 0 auto;

            h1 {
                color: transparent;
                text-align: center;
                font-size: 10rem;
                letter-spacing: 5px;   
                -webkit-text-stroke: .6px $primary-yellow;
            }



            p {
                font-size: 12pt;
                padding-right: 50px;
                padding-top: 20px;
                letter-spacing: 1px;
                text-align: center;
            }
        }

        .opening-text {
            width: 50%;
            padding-left: 20px;
            border-left: 1px solid $primary-yellow;
            max-width: 350px;
        }

        p {
            color: $light-tan;
            font-size: 14px;
            margin-bottom: 0;
        }
        
    }
}


.nav-banner-home {

    padding-bottom: 180px;
    position: relative;
    
    nav {
        background-color: rgba(0, 0, 0, 0.95);
        position: absolute;
        padding-bottom: 15px;
        padding-top:10px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        margin-top: 200px;

        &.show-nav {
            position: fixed;
            height: 0;
            opacity: 0;
            z-index: 10000;

            .navbar-toggler {
                margin-top: 0;
            }

            .nav-brand {
                top: 5px;

                img {
                    max-width: 80px;
                    margin-top: 15px;
                }
            }
        }
    }

    .menu-nav {
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: 10Px;

        .nav-item {
            border-right: 0px solid #000;
            padding: 0 20px;

            a {
                color: $white;
                text-transform: uppercase;
                padding: 1px 5px;
                letter-spacing: 2.5px;
                font-size: 23px;
            }

            &:nth-child(5) {
                border-left: 0px solid #000;
            }

            &:nth-child(4) {
                border: none;
                // padding: 0 40px;
            }

            &:last-child {
                border: none;
            }
        }

        .nav-link img {
            // max-width: 120px;
        }
    }

    .banner {
        margin: 0 auto;
        padding: 600px 15px 15px;
        max-width: 980px;
        h2 {
            color: $lighter-brown;
            margin-bottom: 10px;
            font-size: 30px;
            text-align: center;
        }

        h1 {
            color: $dark-brown;
            font-size: 50px;
            text-align: center;
        }
        .back-quote{
            z-index: 1;
            position: absolute;
            top: 0px;
            left:0px;
            color:$light-brown;
            font-size:200px;
            text-align: left;
            letter-spacing: 20px;
            margin: 0px;
        }
    }
    // .navbar-toggler {
    //     margin-top: 25px;
    //     z-index: 100;
    // }

    // i {
    //     color: $cream;
    //     font-size: 25px;
    // }

    .nav-brand {
        position: absolute;
        // top: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        img {
            max-width: 80px;
        }
    }

    .opening {
        display: flex;
        max-width: 1000px;
        padding: 300px 15px 15px;
        margin: 0 auto;

        .opening-title {
            width: 95%;
            margin: 0 auto;

            h1 {
                color: transparent;
                text-align: center;
                font-size: 10rem;
                letter-spacing: 5px;   
                -webkit-text-stroke: .6px $primary-yellow;
            }



            p {
                font-size: 12pt;
                padding-right: 50px;
                padding-top: 20px;
                letter-spacing: 1px;
                text-align: center;
            }
        }

        .opening-text {
            width: 50%;
            padding-left: 20px;
            border-left: 1px solid $primary-yellow;
            max-width: 350px;
        }

        p {
            color: $light-tan;
            font-size: 14px;
            margin-bottom: 0;
        }
        
    }
}

.nav-banner-2 {

    .opening {
        padding: 225px 15px 15px;

    }
}

.contact-footer-banner {
    margin: 0 auto;
    background-image:  url("../img/bg/contact-us-bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.pricing-banner {
    background-image:  url("../img/bg/pricing-packages-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 200px;
    margin-bottom:130px;
}


.nav-bg-banner-2{
    background-color: $liteblue;
    padding: 275px 30px 0px 30px;
    margin: 0 auto;
    margin-top:-300px;
    text-align: center;
}

.two-col-contact {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: $cream !important;
    
    .left-col {

        font-family: "Trade-Gothic-Bold20";
        display: flex;
        text-transform: uppercase;
        align-items: center;
        font-size: 24pt;
        line-height:30pt;
        letter-spacing: 2.5px;
        text-align: center;
        max-width: 390px;
        
    }

    .right-col {
        max-width: 30%;
    }
}

footer {
    padding: 15px 40px;
    border-bottom: 5px solid $primary-yellow;
    display: flex;
    align-items: center;
    // background-image:  url("../img/bg/bg-text-footer-banner-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-color:$darkblack;

    h2{
    font-size: 11pt;
    letter-spacing: 2px;
    text-align: left;
    color:$cream;
    }

    p{
        font-size: 6pt;
        margin-top:20px;
        letter-spacing: 2px;
        text-align: left;
        color:$cream;
        }

        a {
            color:#fff;
        }

    .footer-social {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;

        
        .social-icon {
            margin-right: 20px;
            // border: 1px solid $primary-yellow;
            width: 30px;
            height: 30px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .icon-1{
            background-image: url("../img/icons/social-media-icon-pinterest-30px.png");
            background-size: cover;
        }
        .icon-2{
            background-image: url("../img/icons/social-media-icon-instagram-30px.png");
            background-size: cover;
        }

        .icon-3{
            background-image: url("../img/icons/social-media-icon-linkedin-30px.png");
            background-size: cover;
        }
    }

    .footer-links {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align:center;
        line-height: 14pt;
        color: $cream;

        li {
            a{
                font-size: 11px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        p {
                font-size: 10px;
                text-transform: uppercase;
                text-decoration: none;
            
        }
    }

    .footer-text {
        color: $cream;
        text-align: center;
        margin:0 auto;

        .text-1{
            font-size:10pt;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .text-2{
            font-size:10pt;
            letter-spacing: 2px;
            line-height: 11pt;
            padding-top:20px;
            text-transform: uppercase;
        }
        .text-3{
            font-size:6pt;
            letter-spacing: 2px;
            line-height: 11pt;
            padding-top:20px;
            text-transform: uppercase;
        }
    }

    .footer-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            max-width: 80px;
        }
    }
}

@media screen and (max-width: 1330px) {
    


    footer {
    
        h2{
        text-align: left;
        }
    }

    .cards {
        justify-content: flex-start;

        .card {

            &:first-child {
                // margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 1130px) {

}

@media screen and (max-width: 1000px){

   

    footer {
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 50px;

        div:first-of-type {
            order: 1;
            // margin-top: 20px;
        }

        h2{
            text-align: center;
            }

        p{
            text-align: center;
            }

        .footer-social {
            margin: 0 0 30px;
        }

        .footer-links {
            display: flex;
            align-items: flex-start;
            // margin-top:20px;
            flex-direction: row;

            p {
                text-align: center;

                }

            li {
                padding: 0 10px;
                border-right: 1px solid $lighter-brown;

                &:last-of-type {
                    border-right: none;
                }
            }

        }

        .footer-logo {
            position: relative;
            top: unset;
            left: unset;
            transform: translate(0);
        }
    }

    .core-values {
        .cards {
            .card {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 991px){

    
    .nav-banner {

        .nav-brand {
            display: block;
        }

        #menu {
            position: fixed;
            top:0px;
            left: 0px;
            // width: 450px;
            height: 100vh;
            background: $brandblack;
            z-index: 99;
        }

        .menu-nav {
            align-items: flex-start;
            margin-top: 80px;
            margin-left: 27px;

            .nav-item {
                font-size: 50px;
                border: none !important;
                padding-left: .75rem;
                margin: 6px 0;

                .nav-link {
                    font-size: 40px;
                    
                }
            }

            .nav-logo {
                display: none;
            }
        }

        // .banner {
        //     padding: 300px 30px 15px;
        // }

        .opening {
            .opening-title {
                padding-right: 5%;
            }
        }
    }

    .nav-banner-home {
        padding-bottom:350px;

        nav {

            margin-top: 200px;
            padding:80px;
        
            .nav-brand {
                display: block;

                img {
                    max-width: 170px;
                   
            }
            }

            #menu {
                position: fixed;
                top:0px;
                left: 0px;
                // width: 450px;
                height: 100vh;
                background: $brandblack;
                z-index: 99;
                }
        }

        .menu-nav {
            align-items: flex-start;
            margin-top: 80px;
            margin-left: 27px;

            .nav-item {
                font-size: 50px;
                border: none !important;
                padding-left: .75rem;
                margin: 6px 0;

                .nav-link {
                    font-size: 40px;
                    
                }
            }

            .nav-logo {
                display: none;
            }
        }

        .banner {
            padding: 300px 30px 15px;
        }

        .opening {
            .opening-title {
                padding-right: 5%;
            }
        }
    }

}


@media screen and (max-width: 890px){
    

    .four-col{

        .four-col-box {
            width: 100%;

        }
    }

    .five-col{

        .five-col-box {
            width: 100%;

        }
    }


    .two-col {
        flex-direction: column;

        .two-col-box {
            width: 100%;
            padding: 0px 30px;
        }
    }

    .nav-banner {
        .opening {
            flex-direction: column;
            align-items: center;
            padding: 175px 15px 15px;


            .opening-title {
                width: 100%;
                max-width: 500px;
                

                h1 {
                    text-align: center;  
                }
            }

            .opening-text {
                width: 100%;
                max-width: 500px;
            }
        }
    }

    .download-form {

        form {
            flex-direction: column;

            input,#full-name, #email {
                width: 100% !important;
                margin: 10px 0;
            }

            input[type="submit"]{
                padding: 20px 0;
                max-width: 300px;
                margin: 10px auto 0;
            }
        }
    }

    .core-values {
        .cards {
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            // .card {
            //     margin: 20px 0;
            //     width: 100%;
            //     height: 300px;
            //     flex: unset;
            // }
        }
    }
}

@media screen and (max-width: 768px){

    .title-headers {

        .header-1 {
            margin-bottom: 30px;
        }
    
    }

    .text-image-col {
        .text-col {
            margin-right: 0;

            .content {
                margin-left: 25px;
                padding-right:15px;
                margin-top:30px;
                
            }
        }
    }

    .three-cards {
        padding-top: 150px;
    }

    .two-text-col {
        flex-direction: column;

        .title-col {
            margin: 80px 30px 30px 30px;
        }

        .text-col {
            max-width: 80%;;
            display: flex;
            flex-direction: column;
            a {
                align-self: center;
                margin-top: 80px;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .nav-banner {
        padding-bottom:0px;
        .banner {

            // padding-top: 200px;

            h1 {
                font-size: 30px;
            }

        }

        .opening {
            .opening-title {


                h1 {
                    font-size: 6rem;
                    
                }
            }
        }

    }


    footer {
        // background-image:  url("../img/bg/bg-text-footer-banner-mobile.svg");

        h2{
            text-align: center;
            }
    }

}


@media screen and (max-width: 450px){

    .two-col-text {

        .two-col-box:first-child {
           
            h2{
            font-size: 33pt;
            line-height: 41pt;
            }

        }
    
    }

    .text-image-col {
        .text-col {
            min-width: 325px;
            .content {
                p {
                    font-size: 14px;
                    margin-top: 25px;
                    padding-left:20px;
                    padding-right: 15px;
                }
            }
        }
    }

    .two-text-col {
        padding: 55px;
    }

    .two-col {
        .two-col-box {
            // padding-top: 50px;

            .btn-wide {
                width: 90%;
            }
        }
    }

    .core-values {
        .service-nav-cards {
            padding: 0;
        }
    }
    

    .cards {
        // flex-direction: column;
        // align-items: center !important;

        .card {
            margin: 10px 7px;
            padding: 15px;
            min-width: 310px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .nav-banner {

        .opening {
            .opening-title {
                padding-right: 0;


                h1 {
                    font-size: 4rem;
                    -webkit-text-stroke: 0.2px $primary-yellow;
                }
            }
        }
    }

    
    .title-headers {

        .title-body{
            font-size: 1.25rem;
        padding-left: 30px;
        padding-right: 30px;
        }
    }
    
}

@media screen and (max-width: 375px){
    .text-image-col {
        padding-bottom: 40px;
    }

}