// @use "general.scss";

.homepage-banner {
    background-image: url("../img/bg/homepage-banner-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-banner {
    background-image: url("../img/bg/intro-banner-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-yellow;
    padding: 100px;

    .intro-banner-text {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        
        .intro-banner-header{
            color:$off-white;
            font-size: 3rem;
            line-height:3rem;
        }
        p{
            font-size: 11pt;
            margin-top: 40px;
        }
    }
}

.four-col{
    width:90%;
    margin: 0 auto;
    margin-top:-60px;

    .four-col-box {
        .four-box{

            .four-col-icon{
                background-image: url("../img/icons/alert-icon.png");
                width: 30px;
                height: 30px;
                background-size: cover;
            }

            
            .four-box-title {
                margin-bottom: 10px;
                margin: 0 auto;
                background-position: center;
            
            
                h4{
                    font-size: 7pt;
                    text-transform: uppercase;
                    text-align: center
                }
    
                p{
                    text-align: center;
                    padding: 0px 20px;
                    
                }
            }
        }
    }
}

// ==== FOUNDERS MESSAGE ====
.mission {
    background-color: transparent;

    .mission-content {
        background-color: $cream;
        min-height:600px;
        
        .content {

            h4 {
                color: $ash;
                font-size: 30pt;
                text-align: center;
                padding:0px 30px;
            }

            h3 {
                color: $dark-blush;
                font-size: 15pt;
                text-align: center;
                letter-spacing: 3px;
            }

            #h3-2 {
                font-size: 10pt;
                margin-top: 10px;
            }

            #h3-3 {
                font-size: 8pt;
                letter-spacing: 3px;
                margin-bottom: 20px;

            }

            h2 {
                color: $dark-blush;
                text-align: center;
                font-size: 50px;
            }

            p {
                color: $dark-brown;

            }
        }
        
    }

}
// the process - 3 columns - start

.step-1-bg {
    background-image: url("../img/bg/01-step-brand-makeover.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.step-2-bg {
    background-image: url("../img/bg/02-step-brand-makeover.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.step-3-bg {
    background-image: url("../img/bg/03-step-brand-makeover.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.process-bg{
    background-image: url("../img/bg/wet-paper-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hm-pg-process {
   
    // background: transparent;
    border: 1px solid $primary-yellow;
    padding: 50px 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 250px;
    

    h3,h2,p,.icon {
        text-align: center;
    }

    // 3 columns - 3 steps strategy 
    .process-col {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 65px;

        .process-cols {
        
                color: $dark-brown;
                padding: 25px;
                width: 33%;
                height: 200px;

            .title {
                margin-bottom: 10px;
                margin: 0 auto;
                background-position: center;
                font-size:30px;
                color: $dark-brown;
                letter-spacing: 2.5px;
                line-height:30px;
            }

            .sub-title {
                color: $lt-purple;
                letter-spacing: 1.5px;
                padding-top: 20px;
                padding-bottom:10px;
                font-size: 11px;
             }

            p {
                color: $dark-brown;
                margin-top: 10px;
                font-size: 8.75pt;
                line-height: 18px;
                
            }
        }
    }

    .process-btn {
        margin-top: 80px;

            .btn-bg {
                    background-color: $light-brown;
                    color: $dark-brown;
                    padding: 80px;
                    font-size: 12pt;
            }
        
    }

}

// the process - 3 columns - end


.design-studio {
    background-image: url("../img/bg/small-business-impact-quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-bottom:175px;
    color:$off-white;

    .design-title {
        max-width:500px;

        h2 {
            font-size: 3rem;
            line-height:3rem;
            text-align: left;
        }        
    }

    .design-content {
        p {

            text-align: left;
        }

        a {
            color: $white;
        }
    }
}



.home-two-col {

    .two-col-box {
        
        &:first-child {
            background: $primary-yellow;
        }

        &:last-child {
            background: $lighter-brown;
        }
    }
}

// services 3 columns - start
.services {
    background: transparent;
    border: 1px solid $primary-yellow;
    padding: 80px 80px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    

    h3,h2,p,.icon {
        text-align: center;
    }

    .services-col {
        display: flex;
        align-items: stretch;
        max-width: 1000px;
        margin: 0 auto;
        color: $darker-pink;
        justify-content: space-between;

        .services-cols {
            
                background-color: $cream;
                color: $lighter-brown;
                padding:50px;
                width: 30%;
                // height: 20%;

            .title {
                margin-bottom: 10px;
                margin: 0 auto;
                background-position: center;
                font-size:30px;
            }

            p {
    
                font-family: "sofia-pro", sans-serif;
                margin-top: 10px;
                font-size: 11.5px;
                line-height: 15px;
            }
        }
    }

    .services-btn {
        margin-top: 80px;

            .btn-bg {
                    background-color: $light-brown;
                    color: $dark-pink;
                    padding: 80px;
            }
        
    }

}

// services 3 columns - end

.instagram {
    background:$dark-brown;
    padding: 120px 0;

    > p {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;

        div {
            width: 150px;
            min-width: 150px;
            height: 150px;
            margin-right: 7px;

            &:first-child, &:last-child {
                background: $lighter-brown;
            }

            &:nth-child(2), &:nth-child(5){
                background: $light-brown;
            }

            &:nth-child(3) {
                background: lightgray;
            }

            &:nth-child(4) {
                background: $dark-pink;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-width: 1070px){
    .hm-pg-process {
        
        .process-col {

            .process-cols {
                height: 220px;
            }
        }
    }
}





@media screen and (max-width: 1330px) {
    .core-values {
        padding-left: 15px;
        padding-right: 15px;
    }
    .hm-pg-process {
        
        .process-col {

            .process-cols {
                height: 220px;
            }
        }
    }
}

@media screen and (max-width: 955px) {


    .instagram {
        padding: 70px 15px 100px;

        > p {
            margin-bottom: 70px;
        }

        .gallery {
            justify-content: flex-start;
        }
    }
    
}

@media screen and (max-width: 890px){
    .hm-pg-process {
        
        .process-col {

            .process-cols {
                height: 230px;
            }
        }
    }
}

@media screen and (max-width: 850px){
    
    .hm-pg-process {
        margin-top:0px;
        margin-bottom: 100px;

        .process-col {
            flex-direction: column;

            .process-cols {
                margin: 20px 0;
                width: 90%;

                p {
        
                    font-size: 11.75pt;
                    line-height: 21px;
                    letter-spacing: .5px;
                }
            }
        }
    }

    .design-studio {
        height: 400px;
    }
}

@media screen and (max-width: 768px){


   
    .core-values {
        padding-top: 150px;

    }
}

@media screen and (max-width: 600px){

    .hm-pg-process {
        
        .process-col {

            .process-cols {

                p {
        
            margin-bottom:10px;
                }
            }
        }
    }

    .intro-banner {
        padding: 50px;
    }
}

@media screen and (max-width: 484px){


    .hm-pg-process {
            padding: 50px 15px;
            width:90%;
        .process-col {

            .process-cols {
                width: 90%;
                height: 245px;
                .title{
                    font-size: 33px;
                }
            }
        }
    }

    .intro-banner {
        padding: 30px;
    }
}

@media screen and (max-width: 360px){


    .hm-pg-process {
            
        .process-col {

            .process-cols {

                height:255px;

            }
        }
    }
}



@media screen and (max-width: 375px){


    .hm-pg-process {
        margin-top: 10px;
        margin-bottom: 50px;
        .process-btn{
            margin-top:25px;
        }
        .process-col {

            .process-cols {
                
                .title{
                    font-size: 27px;
                }
            }
        }
    }
}
