// @use "general.scss";


.homepage-banner {
    background-image: url("../img/bg/hm-pg-bg-text-banner.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

// ==== FOUNDERS MESSAGE ====
.mission {
    background-color: transparent;

    .mission-content {
        background-color: $cream;
        
        .content {

            h4 {
                color: $ash;
                font-size: 17pt;
                text-align: center;
            }

            h3 {
                color: $dark-blush;
                font-size: 15pt;
                text-align: center;
                letter-spacing: 3px;
            }

            #h3-2 {
                font-size: 10pt;
                margin-top: 10px;
            }

            #h3-3 {
                font-size: 8pt;
                letter-spacing: 3px;
                margin-bottom: 20px;

            }

            h2 {
                color: $dark-blush;
                text-align: center;
                font-size: 50px;
            }

            p {
                color: $ash;
                max-width: 225px;

            }
        }
        
    }

}

.design-studio {
    background-color: $dark-brown;
    border: 1px solid $primary-yellow;
    width: 90%;
    margin: 0 auto;
    

    .design-title {

        h2 {
            color: $cream;
            font-size: 33px;

        }

        h3 {
            padding-right: 20px;
            color: $dark-blush;
            letter-spacing: 3px;
            text-align: right;
        }

        p {
            color: $dark-blush;

        }

        #magic-txt{
            font-size: 10px;
            margin-top: 8px;
        }
        
    }

    .design-content {
        p {
            color: $white;
        }

        a {
            color: $white;
        }
    }
}

.core-values {

    padding: 250px 0 150px;

     > p {
        text-transform: uppercase;
        color: $lighter-brown;
        text-align: center;
        font-size: 16px;
        letter-spacing: 4px;
        margin-bottom: 80px;
    }

    .core-cards {
        align-items: stretch;

        .card {
            background-color: $light-brown;
            max-width: 330px;
            min-width: 330px;
            padding: 170px 15px;
            -webkit-box-shadow: 22px 21px 88px -36px rgba(0,0,0,1);
            -moz-box-shadow: 22px 21px 88px -36px rgba(0,0,0,1);
            box-shadow: 22px 21px 88px -36px rgba(0,0,0,1);


            h2 {
                color: $dark-brown;
                font-size: 45px;
                text-align: center;
                // text-shadow: 2px 2px 30px $dark-brown;
                // padding-bottom: 10px;
            }

            #processh2 {
                font-size: 45px;
            }
            
            h3 {
                color: $dark-brown;
                padding-right: 20px;
                padding-bottom: 10px;
                letter-spacing: 2px;
                text-align: center;
                font-size:13pt;
            }

            h4 {
                color: $dark-brown;
            }
            #the-small{
                font-size:18pt;
            }
            #search-design-text{
                font-size:25pt;
            }

        }
    }
}

.home-two-col {

    .two-col-box {
        
        &:first-child {
            background: $primary-yellow;
        }

        &:last-child {
            background: $lighter-brown;
        }
    }
}

.instagram {
    background:$dark-brown;
    padding: 120px 0;

    > p {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: auto;

        div {
            width: 150px;
            min-width: 150px;
            height: 150px;
            margin-right: 7px;

            &:first-child, &:last-child {
                background: $lighter-brown;
            }

            &:nth-child(2), &:nth-child(5){
                background: $light-brown;
            }

            &:nth-child(3) {
                background: lightgray;
            }

            &:nth-child(4) {
                background: $dark-pink;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-width: 1330px) {
    .core-values {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 955px) {
    .homepage-banner {
        background-image: url("../img/bg/background-text-banner-tablet.svg");
       
    }

    .instagram {
        padding: 70px 15px 100px;

        > p {
            margin-bottom: 70px;
        }

        .gallery {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 768px){
    body {
        background-image: url("../img/bg/bg-texture-mobile-600px-1333px.jpg");

    }

    .homepage-banner {
        background-image: url("../img/bg/background-text-banner-mobile.svg");
       
    }

    
    .core-values {
        padding-top: 150px;

    }
}
