// @use "general.scss";

.homepage-banner {
    // background-image: url("../img/bg/home-banner-collage-8.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position:center;
    background-color:$cream;
    padding-top:88px;
    .bg-bar{
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    padding-bottom: 15px;
    padding-top:10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-top: 200px;
    }
}


// background-image: url("../img/3-nav-imgs/nav-about-img.jpg");
// background-size: cover;
// background-repeat: no-repeat;
// background-position:center;


.two-col-text {
    background: $cream;

    .two-col-box:first-child {
       
        text-align: center;

        h2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 33pt;
        line-height: 41pt;
        letter-spacing: 4px;
        color:$brandblack;
        text-transform: uppercase;
        max-width: 500px;
        }
        
        h3{
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            color:$brandblack;
            font-size: 15pt;
            line-height: 23pt;
            letter-spacing: .5px;
            margin:30px 0px 20px 0px;
            }

        h4{
            font-family: SimplonMono-Bold;
            text-transform: uppercase;
            color:$brandblack;
            font-size: 8.5pt;
            letter-spacing: 1.5px;
            padding-bottom: 10px;
        }

 
    }

    .spacer-div{
        margin-top:40px;
    }

    .two-col-box:last-child {

        color:$brandblack;

        .sub-title{
            font-family: SimplonNorm-Bold;
            text-transform: uppercase;
            font-size: 13pt;
            letter-spacing: 2px;
            margin-bottom: 10px;
            
        }

        p{
            font-size: 11.5pt;
            line-height: 18pt;
            letter-spacing: 1.2px;
            font-family: SimplonNorm-Lite;
            margin-bottom:20px;
        }

        .bullet-pts{
            font-family: SimplonMono-Lite;
            font-size: 7.2pt;
            text-transform: uppercase;
            letter-spacing: 2.1px;
        }

        .hr-line {
            border: .75px solid $brandgreen;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 10px;
           }

    }
}


.two-col-text {
    background: $cream;

    .two-col-box:first-child {
       
        text-align: center;

        h2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 33pt;
        line-height: 41pt;
        letter-spacing: 4px;
        color:$brandblack;
        text-transform: uppercase;
        max-width: 500px;
        }
        
        h3{
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            color:$brandblack;
            font-size: 15pt;
            line-height: 23pt;
            letter-spacing: .5px;
            margin:30px 0px 20px 0px;
            }

        h4{
            font-family: SimplonMono-Bold;
            text-transform: uppercase;
            color:$brandblack;
            font-size: 8.5pt;
            letter-spacing: 1.5px;
            padding-bottom: 10px;
        }

 
    }

    .spacer-div{
        margin-top:40px;
    }

}


.who-we-are-banner {
    padding: 200px 34px 75px 20px;
    background-color: $cream;
    color: $black;
    margin: 0 auto;
    text-align: center;    
        
        .text{
           
            h1{
                font-family: "Trade-Gothic-Bold20";
                color:$brandblack;
                text-transform: uppercase;
                font-size: 34pt;
                line-height: 38pt;
                letter-spacing: 1.5px;
                margin-bottom: 18px;
            }
            .sub-title-1{
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing:2px;
                padding-bottom: 8px;
            }
            .sub-title-2{
                font-size: 22px;
                padding-bottom: 16px;
            }
            .sub-title-3{
                text-transform: uppercase;
                font-size:9pt;
                line-height: 17pt;
                letter-spacing: 2px;
                margin: 10px 0px;
                color: $brandblack;
                font-family: SimplonMono-Reg;
             }
            
        }

}

.not-a-luxury-banner-2 {
    text-align: center;
    // background: #4c4a3a;
    color:$cream;
    padding: 150px 23px 0px 23px;
    // background-image: url("../img/bg/stars-bg-tan.png");
    // background-size: cover;
    // background-repeat: no-repeat;

    h2 {
        font-size: 35px;
        margin-bottom:-30px;
    }

    h3 {
        color:$cream;
        font-size: 26px;
        line-height:31px;
        max-width: 500px;
        margin:0 auto;
        padding-bottom:0px;
    }
    h4{
        font-family: SimplonMono-Bold;
        text-transform: uppercase;
        font-size: 8.5pt;
        letter-spacing: 1.5px;
        padding-bottom: 10px;
        }


        .header-2{
            font-family: "Trade-Gothic-Bold20";
            font-size: 25pt;
            line-height: 41pt;
            letter-spacing: 4px;
            text-transform: uppercase;
            max-width:500px;
            margin:0 auto;
            margin-bottom:20px;
        }
}


.not-a-luxury-banner {
    background-color: $nav-text;
    background-image: url("../img/bg/stars-bg-tan.png");
    background-size: cover;
    background-repeat: no-repeat;
    color:$brandblack;
    padding: 150px 30px 150px 30px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center; 

        .title-3{
            text-transform: uppercase;
            font-size:9pt;
            line-height: 17pt;
            letter-spacing: 2px;
            color: $black;
            font-family: SimplonMono-Reg;
        }
        .sub-title{
        
        letter-spacing:2px;
        
         }
        .title-1{
            color:$black;
            font-size: 12pt;
            letter-spacing:2px;
            margin-bottom:0px;

        }
        .title-2{
           font-size:15pt;
           line-height: 27pt;
           letter-spacing: 2px;
           color: $brandblack;
           font-family: SimplonMono-Reg;
        }

}




.livelyhood-banner{
    // background-image: url("../img/bg/texture-bg-dark-min.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    padding: 30px 30px 120px 30px;
    text-align: center;
    color:$cream;

    .title-1{
        font-size: 27px;
    }


    h3{
        font-family: SimplonMono-Bold;
        text-transform: uppercase;
        font-size: 8.5pt;
        line-height: 20px;
        letter-spacing: 3.5px;
        padding-bottom: 10px;
        width:70%;
        margin:0 auto;     
    }

    .header-2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 25pt;
        line-height: 41pt;
        letter-spacing: 4px;
        text-transform: uppercase;
        max-width:500px;
        margin:0 auto;
        margin-bottom:20px;
    }

    .sub-title{
        font-family: SimplonNorm-Bold;
        text-transform: uppercase;
        font-size: 11pt;
        letter-spacing: 3px;
        margin-bottom: 10px;
        max-width: 500px;
        margin: 0 auto;
        
    }
    .sub-title-2{
        font-size: 9.5pt;
        line-height: 13pt;
        font-family: SimplonMono-Lite;
        margin-bottom:20px;
        max-width: 600px;
        margin: 0 auto;
    }

    .five-col{

        width:80%;
        margin-top:50px;
    
        .five-col-box {
    
            .five-box{
                margin: 0 auto;
                padding: 20px 20px;
    
                .five-col-icon{
                    background-image: url("../img/icons/alert-icon-red.svg");
                    width: 20px;
                    height: 20px;
                    margin: 15px;
                    background-size: cover;
                }
               
                .five-box-title {
    
                    margin-bottom: 10px;
                    margin: 0 auto;
                    background-position: center;
                    text-align: center;
                    color:$brandblack;
                
                    h4{
                        font-size: 10pt;
                        text-transform: uppercase;  
                    }
        
                    p{
                        color:$brandblack;
                        margin-top:20px;
                        font-size: 11pt;
                        line-height: 13.5pt;
                        letter-spacing: -1px;
                        font-family: SimplonMono-Lite;
                        margin-bottom:30px;
                        
                    }
                }
            }
        }
    }




    
    // .four-col{

    //     width:80%;
    //     margin-top:50px;
    
    //     .four-col-box {
    
    //         .four-box{
    //             margin: 0 auto;
    //             padding: 20px 20px;

    //             .four-col-icon{
    //                 background-image: url("../img/icons/alert-icon-red.svg");
    //                 width: 30px;
    //                 height: 30px;
    //                 margin: 15px;
    //                 background-size: cover;
    //             }
               
    //             .four-box-title {

    //                 margin-bottom: 10px;
    //                 margin: 0 auto;
    //                 background-position: center;
    //                 text-align: center;
    //                 color:$brandblack;
                
    //                 h4{
    //                     font-size: 10pt;
    //                     text-transform: uppercase;  
    //                 }
        
    //                 p{
    //                     color:$brandblack;
    //                     font-size: 11pt;
    //                     line-height:13pt;
    //                     padding: 0px 10px;
    //                     margin-top:20px;
    //                     letter-spacing: 0px;
    //                     text-transform: none;
                        
    //                 }
    //             }
    //         }
    //     }
    // }
}


.carousel-bg{
    background-color: $taupe;
    // background-image: url("../img/bg/stars-bg-avg-blue.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    padding: 265px 30px 95px 30px;
    margin: 0 auto;
    margin-top:-370px;
    text-align: center;
}



.local-bus-banner {
    width: 100%;
    padding: 150px 0px 200px 0px;
    margin: 0 auto;
    color:$brandblack;
    background-color: $cream;

    .local-bus-title {
        max-width:500px;      
    }

    .local-bus-content {


        .sub-title{
            text-transform: uppercase;
            font-size: 12pt;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }


        a {
            color: $white;
        }
    }
}

// ==== FOUNDERS MESSAGE ====
.mission {
    background-color: transparent;

    .mission-content {
        background-color: $cream;
        min-height:600px;
        
        .content {

            h4 {
                color: $ash;
                font-size: 30pt;
                text-align: center;
                padding:0px 30px;
            }

            h3 {
                color: $dark-blush;
                font-size: 15pt;
                text-align: center;
                letter-spacing: 3px;
            }

            #h3-2 {
                font-size: 10pt;
                margin-top: 10px;
            }

            #h3-3 {
                font-size: 8pt;
                letter-spacing: 3px;
                margin-bottom: 20px;

            }

            h2 {
                color: $dark-blush;
                text-align: center;
                font-size: 50px;
            }

            p {
                color: $dark-brown;

            }
        }
        
    }

}
// the process - 3 columns - start

.step-1-bg {
    background-image: url("../img/bg/01-step-brand-makeover.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.step-2-bg {
    background-image: url("../img/bg/02-step-brand-makeover.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.step-3-bg {
    background-image: url("../img/bg/03-step-brand-makeover.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.process-bg{
    background-image: url("../img/bg/wet-paper-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

// .hm-pg-process {
   
//     // background: transparent;
//     border: 1px solid $primary-yellow;
//     padding: 50px 50px;
//     width: 90%;
//     margin: 0 auto;
//     margin-top: 100px;
//     margin-bottom: 250px;
    

//     h3,h2,p,.icon {
//         text-align: center;
//     }

//     // 3 columns - 3 steps strategy 
//     .process-col {
//         display: flex;
//         align-items: center;
//         max-width: 1200px;
//         margin: 0 auto;
//         justify-content: space-between;
//         margin-bottom: 65px;

//         .process-cols {
        
//                 color: $dark-brown;
//                 padding: 25px;
//                 width: 33%;
//                 height: 200px;

//             .title {
//                 margin-bottom: 10px;
//                 margin: 0 auto;
//                 background-position: center;
//                 font-size:30px;
//                 color: $dark-brown;
//                 letter-spacing: 2.5px;
//                 line-height:30px;
//             }

//             .sub-title {
//                 color: $lt-purple;
//                 letter-spacing: 1.5px;
//                 padding-top: 20px;
//                 padding-bottom:10px;
//                 font-size: 11px;
//              }

//             p {
//                 color: $dark-brown;
//                 margin-top: 10px;
//                 font-size: 8.75pt;
//                 line-height: 18px;
                
//             }
//         }
//     }

//     .process-btn {
//         margin-top: 80px;

//             .btn-bg {
//                     background-color: $light-brown;
//                     color: $dark-brown;
//                     padding: 80px;
//                     font-size: 12pt;
//             }
        
//     }

// }

// the process - 3 columns - end



.home-two-col {

    .two-col-box {
        
        &:first-child {
            background: $primary-yellow;
        }

        &:last-child {
            background: $lighter-brown;
        }
    }
}

// services 3 columns - start
.services {
    background: transparent;
    border: 1px solid $primary-yellow;
    padding: 80px 80px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    

    h3,h2,p,.icon {
        text-align: center;
    }

    .services-col {
        display: flex;
        align-items: stretch;
        max-width: 1000px;
        margin: 0 auto;
        color: $darker-pink;
        justify-content: space-between;

        .services-cols {
            
                background-color: $cream;
                color: $lighter-brown;
                padding:50px;
                width: 30%;
                // height: 20%;

            .title {
                margin-bottom: 10px;
                margin: 0 auto;
                background-position: center;
                font-size:30px;
            }

            p {
    
                font-family: "sofia-pro", sans-serif;
                margin-top: 10px;
                font-size: 11.5px;
                line-height: 15px;
            }
        }
    }

    .services-btn {
        margin-top: 80px;

            .btn-bg {
                    background-color: $light-brown;
                    color: $dark-pink;
                    padding: 80px;
            }
        
    }

}

// services 3 columns - end

// .instagram {
//     background:$dark-brown;
//     padding: 120px 0;

//     > p {
//         text-align: center;
//         text-transform: uppercase;
//         margin-bottom: 50px;
//     }

//     .gallery {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         overflow-x: auto;

//         div {
//             width: 150px;
//             min-width: 150px;
//             height: 150px;
//             margin-right: 7px;

//             &:first-child, &:last-child {
//                 background: $lighter-brown;
//             }

//             &:nth-child(2), &:nth-child(5){
//                 background: $light-brown;
//             }

//             &:nth-child(3) {
//                 background: lightgray;
//             }

//             &:nth-child(4) {
//                 background: $dark-pink;
//             }

//             &:last-child {
//                 margin-right: 0;
//             }
//         }

//         &::-webkit-scrollbar {
//             display: none;
//         }
//     }
// }

@media screen and (max-width: 1070px){
    .hm-pg-process {
        
        .process-col {

            .process-cols {
                height: 220px;
            }
        }
    }
}





@media screen and (max-width: 1330px) {

    .core-values {
        // padding-left: 15px;
        // padding-right: 15px;
    }
    .hm-pg-process {
        
        .process-col {

            .process-cols {
                height: 220px;
            }
        }
    }
}

@media screen and (max-width:991px){
    .homepage-banner {
        padding-top:90px;
        
    }
}

@media screen and (max-width: 955px) {


    .instagram {
        padding: 70px 15px 100px;

        > p {
            margin-bottom: 70px;
        }

        .gallery {
            justify-content: flex-start;
        }
    }
    
}

@media screen and (max-width: 890px){

    .livelyhood-banner{
        padding: 0px 20px 30px 20px;
        .five-col{
            width:100%;

        }
    }

    
    .hm-pg-process {
        
        .process-col {

            .process-cols {
                height: 230px;
            }
        }
    }
}

@media screen and (max-width: 850px){
    
    .hm-pg-process {
        margin-top:0px;
        margin-bottom: 100px;

        .process-col {
            flex-direction: column;

            .process-cols {
                margin: 20px 0;
                width: 90%;

                p {
        
                    font-size: 11.75pt;
                    line-height: 21px;
                    letter-spacing: .5px;
                }
            }
        }
    }

    .design-studio {
        height: 400px;
    }
}

@media screen and (max-width: 768px){

    .local-bus-banner {
        padding: 0px 0px 150px 0px;

        .local-bus-title {
            max-width: 90%;
            margin: 0 auto;
    
            h2 {
                font-size: 2.5rem;
                line-height:2.5rem;

            }        
        }
    
    }

    .livelyhood-banner{
        
        .five-col{
        
            .five-col-box {
        
                .five-box{
                    padding: 5px 20px;

                }
            }
        }
    
    }

}

@media screen and (max-width: 600px){

    .two-col-home {


        .two-col-box:last-child {
    
            padding-top:400px;
    
        }
    }


    .hm-pg-process {
        
        .process-col {

            .process-cols {

                p {
        
            margin-bottom:10px;
                }
            }
        }
    }

    .intro-banner {
        padding: 50px;
    }

    .not-a-luxury-banner-2 {

        padding: 50px 23px;
    
    }

}

@media screen and (max-width: 484px){


    
    .hm-pg-process {
            padding: 50px 15px;
            width:90%;
        .process-col {

            .process-cols {
                width: 90%;
                height: 245px;
                .title{
                    font-size: 33px;
                }
            }
        }
    }

    .intro-banner {
        padding: 30px;
    }
}



@media screen and (max-width: 375px){


    .hm-pg-process {
        margin-top: 10px;
        margin-bottom: 50px;
        .process-btn{
            margin-top:25px;
        }
        .process-col {

            .process-cols {
                
                .title{
                    font-size: 27px;
                }
            }
        }
    }
}

@media screen and (max-width: 360px){


    .hm-pg-process {
            
        .process-col {

            .process-cols {

                height:255px;

            }
        }
    }
}