.two-col-text-pricing {
    background: $cream;
    // padding: 100px 0;

    .two-col-box:first-child {
       
        text-align: center;

        h2{
        font-family: "Trade-Gothic-Bold20";
        font-size: 45pt;
        line-height: 45pt;
        letter-spacing: 3px;
        color:$brandblack;
        text-transform: uppercase;
        padding-top: 50px;
        }

        
        h3{
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            color:$brandgreen;
            font-size: 17pt;
            line-height: 16pt;
            padding-bottom:10px;
            text-transform: none;
            }

        .hr-text {
            border: 1px solid $brandgreen;
            max-width: 360px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .sub-title{
            font-family: SimplonNorm-Bold;
            text-transform: uppercase;
            font-size: 10pt;
            letter-spacing: 2px;
            margin-bottom: 10px;            
        }

        .sub-title-2{
            font-family: SimplonNorm-Bold;
            text-transform: uppercase;
            font-size: 7pt;
            letter-spacing: 2px;
            margin-bottom: 10px;            
        }
    }

    .spacer-div{
        margin-top:40px;
    }

    .two-col-box:last-child {

        .sub-title{
            font-family: SimplonNorm-Bold;
            text-transform: uppercase;
            font-size: 13pt;
            letter-spacing: 2px;
            margin-bottom: 10px;
            
        }

        .sub-title-2{
            font-family: SimplonNorm-Bold;
            text-transform: uppercase;
            font-size: 9pt;
            letter-spacing: 2px;
            margin-bottom: 10px;
            margin-top:25px;
            
        }

        .bullet-pts{
            font-family: SimplonMono-Lite;
            font-size: 7.2pt;
            text-transform: uppercase;
            letter-spacing: 2.1px;
        }

        .hr-line {
            border: .75px solid $brandgreen;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 10px;
           }
    }
}


.pricing-website-bg {
    background: $dark-brown;
    .two-col-box:first-child {
       
       color:$cream;

       h2{
           color:$cream;
       }
       
    }

    .spacer-div{
        margin-top:40px;
    }

    .two-col-box:last-child {

        color:$cream;
    }

}

.pricing-social-bg{
    background: $oat;
}

.pricing-pg-title {

    width: 90%;
    margin: 0 auto;
    padding: 20px;

    .title-headers {
        color:$cream;
        text-align: center;
    

        .header-1 {
            font-family: freight-text-pro, serif;
            font-style: italic;
            font-weight: 300;
            font-size: 20pt;
            letter-spacing: 1px;
            color:$off-white;
           padding:0px;
           margin:0px;
        }
    

    }
}