
.process {
    width: 90%;
    margin: 0 auto 100px;
    padding: 100px 20px;
    background: $dark-brown;
    border: 1px solid $primary-yellow;

    .process-title {
        display: flex;
        max-width: 550px;
        margin: 0 auto;

        .process-step {
            margin-right: 40px;
            h2 {
                color: $light-brown;
                font-size: 170px;
                line-height: .9;
            }
        }

        .process-content {
            h3 {
                color: $primary-yellow;
                margin-bottom: 10px;
                font-size: 36px;

                span {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-style: normal;
                    font-size: 30px;
                }
            }

            p {
                color: $taupe;
            }
        }

        
    }

    .arrow {
            text-align: center;
            margin: 30px 0 20px;
            
            img{
                width: 30px;
                cursor: pointer;

                &:active, &:focus{
                    outline: none;
                }
            }
        }
    
}

.swiper-container {
    width: 100vw;
    height: auto;
    padding-top: 30px;
    // overflow: visible;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        // position: relative;


        img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

    .swiper-pagination-bullets {
        bottom: unset;
        top: 0px;
        
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 2px solid $light-brown;
    }

    .swiper-pagination-bullet-active {
        background: $light-brown;
    }

    .swiper-scrollbar, .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}

.process-nav {
    background: transparent;
}

@media screen and (max-width: 600px) {
    .process {
        .process-title {
            flex-direction: column;
                    text-align: center;

            .process-step {
                margin-right: 0;
                h2 {
                    font-size: 100px;
                }
            }
        }
    }

    .swiper-container {
        .swiper-slide {
            width: 100%;
        }
    }
}