// @use "general.scss";

.services-banner {
    background-image: url("../img/bg/services-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.top-text-banner-services {
    // background-image: url("../img/bg/brand-with-purpose-bg.svg");
    // background-size: contain;
    // background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
}


.left-text {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-bottom:175px;
    color:$off-white;
    justify-content: flex-start;
    padding: 100px 15px;

    .left-text-content {
        max-width:350px;
        margin-right:80px;
        flex: 1;
        
        .arrow-sub-text{
            font-size:7pt;
            letter-spacing: 2.75px;
            color: $primary-yellow;
            }

        h2 {
            font-size: 3rem;
            line-height:3rem;
            text-align: left;
        
        }  

        p{
            font-size: 9pt;
            line-height: 17pt;
        }

    }

    .text-col {
        width: 100%;
        max-width: unset;
        flex: 1;
    }
}

.packages {
    padding: 20px 0 100px;
    overflow: hidden;


    .cards {
        align-items: stretch;
        height: 100%;
        justify-content: center;
        overflow-y: scroll;
        // .swiper-container {
        //     overflow: hidden !important;
        // }

        // .swiper-slide {
        //     align-items: stretch !important;
        // }
        > div {
            align-items: stretch;
        }

        .card {
            padding: 0;
            // border: 1px solid $primary-yellow;
            background: $dark-brown;
            max-width: 375px;
            min-width: 375px;
            border-radius:1px;
            height: 100%;
            margin: 0 20px;
            align-items: stretch;

            .top-card {
                background: $cream;
                
                .top-headers{
                    color: $brandblack;
                    text-align: center;
                    // padding-bottom: 33px;
                    text-transform: uppercase;
                    
                    h2 {
                        font-family: SimplonNorm-Bold;
                        font-size:25px;
                        letter-spacing: 2.75px;
                        margin-bottom: 0px;
                        margin-top: 15px;
                    }

                    .sub-text{
                    font-family: SimplonMono-Reg;
                    font-size:9pt;
                    letter-spacing: 2.75px;
                    margin-bottom: 15px;
                    }

                }

                .img-holder {
                    width: 100%;
                    height: 150px;
                    background-image: url("../img/design-picture.png");
                    background-size: cover;
                    background-position: center;
                }
            }

            .middle-card {
                color: $cream;

                p {
                    margin: 15px 0px 25px;
                    padding: 0 50px;  
                    font-size: 13px; 
                    line-height: 17px;
                    color:$dark-brown;
                     
                }
            }

            .bottom-card {
                background: $dark-brown;
                color: $cream;
                margin-bottom: 35px;
                text-align: center;
                
                font-size:10.5px;

                .card-description{
                    font-family: SimplonNorm-Lite;
                    font-size:15px;
                    letter-spacing: .5px;
                    padding: 0px 25px;
                }
                .descrp-title {
                    text-transform: uppercase;
                    color:$dark-yellow;
                    letter-spacing: 1px;
                    margin: 16px 0;
                }

                ul {
                    text-transform: uppercase;
                    margin: 0 0 12px;
                    padding: 0;
                    list-style: none;

                    li {
                        font-size: 11px;
                        letter-spacing: 2px;
                        margin: 2px 0;
                    }
                }

                p,li {
                    text-transform: uppercase;
                    font-size: 9px;
                    text-transform: uppercase;
                }
            }
        }
    }   
}


.center-container-cards{
    margin: 0 auto;
    margin-top: -375px;
}

.service-cards-bg {
    background-image: url("../img/bg/services-carousel-bg-dark-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;

    .sub-title-2{
        color:$off-white;
        text-transform: uppercase;
        font-size: 9pt;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
}

.brand-audit-two-col {
    color: $cream;
    text-align: left;
    margin-bottom: 100px;
    border: .25px solid $brandgreen;
    margin:20px;
    padding: 20px 0px;

    .two-col-box:first-child {
       
        text-align: center;

            h3{
                font-family: SimplonMono-Bold;
                text-transform: uppercase;
                font-size: 8.5pt;
                letter-spacing: 1.5px;
                padding-bottom: 10px;       
            }

            h2{
                font-family: "Trade-Gothic-Bold20";
                font-size: 32pt;
                line-height: 44pt;
                letter-spacing: 4px;
                color:$cream;
                text-transform: uppercase;
                max-width: 500px;
                margin-bottom:20px;
            }

            .hr-text {
                border: 1px solid $brandgreen;
                max-width: 360px;
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom:30px;
            }
    }

    .spacer-div{
        margin-top:40px;
    }

    .two-col-box:last-child {


        .sub-title{
            text-transform: uppercase;
            font-size: 16pt;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        .bullet-pts{
            font-family: SimplonMono-Lite;
            font-size: 7.2pt;
            text-transform: uppercase;
            letter-spacing: 2.1px;
        }
    }
}


.branded-content {
    // background-image: url("../img/bg/stars-bg-blue.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top:120px;
    background-color:$brandbrown;
    margin: 0 auto;
    color: $cream;



    .text-col {
        max-width: 800px;
        margin:0 auto;
        padding-top:30px;
        color:$cream;

        ul {
            margin: 0 auto;
            display: flex;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
            list-style-type: none;
            align-items: center;

            li {
                width: 15%;
                margin: 15px 20px;
                text-align: center;
                font-family: SimplonMono-Reg;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 2px;
            }
        }
    }
    
}

.website-copy {
    padding: 200px 20px;
    background: $dark-brown;

    h3 {
        text-transform: uppercase;
        color: $cream;
        text-align: center;
        font-size: 16px;
        letter-spacing: 4px;
        margin-bottom: 50px;
    }

    h2 {
        color: $lighter-brown;
        text-align: center;
        max-width: 725px;
        margin: 40px auto 80px;
        font-size: 25px;
    }

    .cards {
        .card {
            background: $brown;
            max-width: 450px;
            min-width: 450px;

            h4, h3 {
                color: $primary-yellow;
                text-transform: none;
            }

            h4 {
                font-size: 34px;
                margin-bottom: 0;
            }

            p {
                color: $light-tan;
                text-align: left;
                font-size: 14px;
                line-height: 1.5;
                padding-left:30px;
                padding-right:30px;
            }
        }
    }
}

.retainers {
    // background-image: url("../img/bg/stars-bg-avg-top.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    padding: 200px 30px;
    text-align: center;
    margin: 0 auto;
    color:$cream;

    h3{
        font-family: SimplonMono-Bold;
        text-transform: uppercase;
        font-size: 8.5pt;
        letter-spacing: 1.5px;
        padding-bottom: 10px; 
    }
    p{
        font-size: 14px;
        text-align: center;
        color: $cream;
        max-width: 500px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    
    .retainer-cols {
        display: flex;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 50px;

        .retainer-col {
            
            // .icon {
            //     color: $primary-yellow;
            //     font-size: 50px;
            // }
            .icon-img-holder {
                margin-top: 5px;
                margin-bottom: 10px;
                margin: 0 auto;
                width: 45px;
                background-position: center;
            }

            p {
                color: $cream;
                letter-spacing: 2px;
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 11px;
            }


        }
    }

    .retainer-form {
        margin-top: 170px;


        .download-form {
            h2,h3 {
                color: $white;
                margin: 0;
            }

            form {
                input[type="text"] {
                    background: $dark-pink;

                    &::placeholder {
                        color: #000;
                    }
                }

                input[type="submit"] {
                    background-color: $light-brown;
                    color: $dark-pink;
                }
            }
        }
    }
}




.services-footer {
    border-bottom: 15px solid $dark-brown;
}

@media screen and (max-width: 1480px) {
    .packages {
        // padding-left: 15px;
        // padding-right: 15px;
        .cards {
            .card {
                max-width: 425px;
                min-width: 425px;
                max-width: 375px;
                min-width: 375px;
            }
        }
    }
}

@media screen and (max-width: 1330px) {
    .website-copy {
        .cards {
            justify-content: center;
        }
    }

    // .packages {
    //     .cards {

    //         > div:first-of-type {
    //             .card:first-child {
    //                 margin-left: 20px;
    //             }
    //         }
            
    //     }
    // }
}

@media screen and (max-width: 1200px) {
    .packages {
        .cards {
            justify-content: flex-start;
        }
    }

    .branded-content {
        .title-col {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 1050px) {
    .branded-content {
        flex-direction: column;

        .title-col {
            margin: 0 0 30px;
        }

        .text-col {

            ul {
                justify-content: space-between;
                li {
                    width: 30%;
                    margin: 15px 0;
                    font-size: 12px;
                }
            }
        }
    }

    .website-copy {
        .cards {
            flex-direction: column;

            .card {
                margin: 20px 0;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .retainers {
        .retainer-cols {
            flex-wrap: wrap;

            .retainer-col {
                width: 50%;
                margin: 10px 0;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .branded-content {
        padding-left: 20px;
        padding-right: 20px;
       
    }

    .website-copy {
        .cards {
            .card {
                max-width: unset;
                min-width: unset;
                padding-left: 20px;
                padding-right: 20px;

                p {
                    font-size: 14px;
                    line-height: 1.75;
                    margin: 0px 20px 0px 20px;
                }
            }
        }
    }

    .packages {
        .cards {
            .card {
                max-width: 310px;
                min-width: 310px;
                margin: 0 7px;

                .top-card {
                    h2 {
                        font-size: 35px;
                    }

                    p {
                        &:last-of-type {
                            margin-top: 0px;
                        }
                    }

                    // #no-spacing {
                    //     letter-spacing: -5px;
                    //   }

                }

                .middle-card {
                    p {
                        font-size: 13px;
                    }
                }

                .bottom-card {
                    p,li {
                        font-size: 12px;
                    }

                    .social-strategy {
                        padding: 0 20px;
                    }
                }
            }

            // > div:last-of-type {
            //     .card {
            //         &:last-child {
            //             margin-right: 20px;
            //         }
            //     }
            // }
        }
    }
}

